<h2>Dokoñcz zamówienie</h2>
<p>Podaj wymagane dane, a zamówienie zostanie natychmiast wys³ane!</p>
<div class="well">
    <h3>Odbiorca</h3>
    <div class="form-group">
        <label>Imiê i nazwisko</label>
        <input class="form-control" ng-model="data.shipping.name" />
    </div>
    <h3>Adres</h3>
    <div class="form-group">
        <label>Nazwa ulicy</label>
        <input class="form-control" ng-model="data.shipping.street" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary">Dokoñcz zamówienie</button>
    </div>
</div>